#!/usr/bin/make -f
export DH_VERBOSE=1

QMAKE_DPKG_BUILDFLAGS=\
 QMAKE_CFLAGS_RELEASE="$(shell dpkg-buildflags --get CFLAGS) $(shell dpkg-buildflags --get CPPFLAGS)" \
 QMAKE_CFLAGS_DEBUG="$(shell dpkg-buildflags --get CFLAGS) $(shell dpkg-buildflags --get CPPFLAGS)" \
 QMAKE_CXXFLAGS_RELEASE="$(shell dpkg-buildflags --get CFLAGS) $(shell dpkg-buildflags --get CPPFLAGS)" \
 QMAKE_CXXFLAGS_DEBUG="$(shell dpkg-buildflags --get CFLAGS) $(shell dpkg-buildflags --get CPPFLAGS)" \
 QMAKE_LFLAGS_RELEASE="$(shell dpkg-buildflags --get LDFLAGS)" QMAKE_LFLAGS_DEBUG="$(shell dpkg-buildflags --get LDFLAGS)"

DEBVERSION := 1.3.2
TARBALL = MeshLabSrc_AllInc_v132.tgz
TDIR = meshlab-$(DEBVERSION)
get-orig-source:
	mkdir $(TDIR)
	wget http://qa.debian.org/watch/sf.php/meshlab/$(TARBALL)
	tar -C $(TDIR) -zxf $(TARBALL)
	rm -rf $(TDIR)/meshlab/src/distrib/render_template
	# Remove external libraries which are in Debian or not used
	rm -rf $(TDIR)/meshlab/src/external/ann_1.1.1
	rm -rf $(TDIR)/meshlab/src/external/bzip2-1.0.5
	rm -rf $(TDIR)/meshlab/src/external/glew-1.5.1
	rm -rf $(TDIR)/meshlab/src/external/glew-1.7.0
	rm -rf $(TDIR)/meshlab/src/external/inc
	rm -rf $(TDIR)/meshlab/src/external/lib3ds-1.3.0
	rm -rf $(TDIR)/meshlab/src/external/muparser_v130
	rm -rf $(TDIR)/meshlab/src/external/muparser_v132
	rm -rf $(TDIR)/meshlab/src/external/ode-0.11.1
	rm -rf $(TDIR)/meshlab/src/external/openkinect
	rm -rf $(TDIR)/meshlab/src/external/qhull-2003.1
	rm -rf $(TDIR)/meshlab/src/external/tsai-30b3
	# Remove unused plugins
	rm -rf $(TDIR)/meshlab/src/meshlabplugins/edit_ocme
	# Remove experimental and unsupported plugins, please
	# file bugs if you need one of these
	rm -rf $(TDIR)/meshlab/src/plugins_experimental
	rm -rf $(TDIR)/meshlab/src/plugins_unsupported
	# Eigen is already in Debian.
	rm -rf $(TDIR)/vcglib/eigenlib
	# Remove legacy Eigen2 too
	rm -rf $(TDIR)/vcg/Eigen
	#
	tar -zcf meshlab-$(DEBVERSION).tar.gz $(TDIR)

%:
	dh $@

override_dh_clean:
	dh_clean
	-mv 3Dlabs-license.txt meshlab/src/distrib/shaders
	-mv LightworkDesign-license.txt meshlab/src/distrib/shaders

override_dh_auto_configure:
	-cd meshlab/src/external ; qmake -spec linux-g++ -recursive external.pro ${QMAKE_DPKG_BUILDFLAGS}
	-cd meshlab/src/ ; qmake -spec linux-g++ -recursive meshlab_full.pro ${QMAKE_DPKG_BUILDFLAGS}

override_dh_auto_build:
	-$(MAKE) -C meshlab/src/external
	-$(MAKE) -C meshlab/src

override_dh_shlibdeps:
	dh_shlibdeps -lusr/lib/meshlab

override_dh_install:
	 -mv meshlab/src/distrib/shaders/3Dlabs-license.txt .
	 -mv meshlab/src/distrib/shaders/LightworkDesign-license.txt .
	 dh_install
